# Core .NET build output folders
[Bb]in/
[Oo]bj/

# VS Code / Visual Studio hidden folders
.vscode/
.vs/
*.user

# Ignore all DLLs and compiled binaries globally 
*.dll
*.exe
*.pdb

# ... except for the ones in your libs folder! 
# This ensures your IntelliSense proxy DLLs are pushed to GitHub.
!libs/**/*.dll

.editorconfig